ul.social__list
    li.social__item
        a(href="#")
            include ../../assets/images/icons/Facebook.svg
    li.social__item
        a(href="#")
            include ../../assets/images/icons/Twitter.svg
    li.social__item
        a(href="#")
            include ../../assets/images/icons/Instagram.svg