.card {
    --border-color: #fff;
    @apply bg-white text-card-background text-center;
    width: min(getrem(338px), 100%);
    padding: getMinMax(40px, 50px) getMinMax(20px, 50px) getMinMax(50px, 70px)
        getMinMax(20px, 50px);
    box-shadow: 0px 18px 50px -15px #192a5933;
    border-radius: getrem(30px);
    border: 2px solid var(--border-color, transparent);
    &__header {
        @apply flex flex-col gap-2;
        padding-bottom: getMinMax(30px, 40px);
    }
    &__body {
        border-top: 1px solid #eeeef6;
        padding-top: getMinMax(30px, 40px);
        padding-bottom: getMinMax(30px, 40px);
    }
    &__title {
        @apply font-bold;
        font-size: getMinMax(28px, 40px);
    }
    &__description {
        @apply text-secondary-text;
        font-size: getMinMax(16px, 18px);
    }
    &__button {
        width: 100%;
    }
    &--primary {
        --border-color: #465b95;
        @apply bg-card-background;
        @apply text-card-foreground;
    }
}
