.footer {
    --border-color: rgba(238, 238, 246, 0.1);

    position: relative;
    background-image: url("../../assets/images/bg-bottom.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding-top: getMinMax(64px, 128px);
    &__inner {
        @apply flex items-center justify-between;
        border-top: 1px solid var(--border-color);
        padding: getMinMax(28px, 64px) 0 getMinMax(40px, 80px);
    }
    .section__inner {
        padding-top: getMinMax(64px, 128px);
    }
}

