.footer {
    --border-color: rgba(238, 238, 246, 0.1);

    position: relative;
    background-image: url("../../assets/images/bg-bottom.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    &__inner {
        @apply flex items-center justify-between;
        border-top: 1px solid var(--border-color);
        padding: getMinMax(28px, 64px) 0 getMinMax(40px, 80px);
    }
    &__social {
        @apply flex items-center justify-center gap-6;
        &__item {
            @apply text-secondary-foreground;
        }
    }
    .section__inner {
        padding-top: getMinMax(128px, 338px);
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        background-image: url("../../assets/images/bg-bottom-mobile.png");
    }
}
