.header {
    @apply sticky top-0 left-0 right-0 z-10;
    @apply bg-background-secondary font-foreground;
    &__inner {
        @apply flex items-center justify-between py-4;
    }
    &-nav {
        &-list {
            @apply flex items-center flex-wrap;
            gap: getMinMax(16px, 36px);
            > li > a {
                @apply text-secondary-text;
                @apply block;
                &:after {
                    content: "";
                    display: block;
                    width: 0%;
                    height: 1px;
                    background-color: currentColor;
                    transition: width 0.3s ease-in-out;
                }
                &:hover:after {
                    width: 100%;
                }
            }
        }
    }
    &-menu-button {
        --size: #{getMinMax(25px, 35px)};
        @apply text-secondary-foreground;
        place-items: center;
        width: var(--size);
        height: var(--size);
    }
}
.header-menu-mobile {
    @apply fixed top-0 left-0 right-0 bottom-0;
    @apply bg-background-secondary;
    @apply z-20;
    @apply transition duration-300;
    display: grid;
    grid-template-rows: auto 1fr;
    transform: translateX(-100%);
    pointer-events: none;
    &__inner {
        @apply flex flex-col justify-between;
        height: 100%;
        padding-top: getrem(40px);
        padding-bottom: getrem(50px);
    }
    .header-nav-list {
        @apply font-bold;
        font-size: getrem(28px);
        flex-direction: column;
        align-items: start;
    }
    &--open {
        transform: translateX(0);
        pointer-events: auto;
    }
}
