.header {
    @apply sticky top-0 left-0 right-0 z-10;
    @apply bg-background-secondary font-foreground;
    &__inner {
        @apply flex items-center justify-between py-4;
    }
    &-nav {
        &-list {
            @apply flex items-center flex-wrap;
            gap: getMinMax(16px, 36px);
            > li > a {
                @apply text-secondary-text;
                @apply block;
                &:after {
                    content: "";
                    display: block;
                    width: 0%;
                    height: 1px;
                    background-color: currentColor;
                    transition: width 0.3s ease-in-out;
                }
                &:hover:after {
                    width: 100%;
                }
            }
        }
    }
    &-menu-button {
        --size: #{getMinMax(25px, 35px)};
        @apply text-secondary-foreground;
        place-items: center;
        width: var(--size);
        height: var(--size);
    }
}
