.hero {
    position: relative;
    background-image: url("../../assets/images/bg-bg.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    &__inner {
        @apply flex flex-col lg:flex-row flex-wrap justify-between;
        gap: getMinMax(24px, 80px);
        padding: getMinMax(40px, 110px) 0 getMinMax(124px, 124px);
    }
    &__content {
        @apply flex flex-col items-center justify-between order-3 lg:order-1 lg:py-20 self-start;
        width: min(getrem(550px), 100%);
    }
    &__title {
        @apply font-bold;
        font-size: getMinMax(28px, 52px);
        line-height: calc(60px / 52px) * 1em;
    }
    &__description {
        @apply text-secondary-foreground;
        font-size: getMinMax(16px, 18px);
        line-height: calc(24px / 19px) * 1em;
    }
    &__button {
        @apply self-stretch lg:self-start mt-6 lg:mt-12;
    }
    &__image {
        @apply order-2;
        flex: 1;
        max-width: 100%;
        max-height: 100%;
        picture {
            @apply lg:translate-x-[25%];
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}
@media screen and (max-width: 1024px) {
    .hero {
        background-image: url("../../assets/images/background-top.png");
        &__content {
            width: 100%;
        }
    }
}
