.hero {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    &__inner {
        @apply flex flex-wrap items-center justify-between gap-20;
        padding: getMinMax(40px, 110px) 0;
    }
    &__content {
        @apply flex flex-col items-center justify-between;
        width: getrem(550px);
        flex-basis: getrem(550px);
    }
    &__title {
        @apply font-bold;
        font-size: getMinMax(28px, 52px);
        line-height: calc(60px / 52px) * 1em;
    }
    &__description {
        @apply text-secondary-foreground;
        font-size: getMinMax(16px, 18px);
        line-height: calc(24px / 19px) * 1em;
    }
    &__image {
        flex: 1;
    }
}
