---
layout: "default.njk"
title: "Ошибка 401 Unauthorized: что это за ошибка, диагностика и как ее исправить"
author: ""
link: ""
---

{% include "./_components/hero.njk" %}
<section class="section feature__section">
    <div class="container">
        <div class="section__inner flex flex-col gap-10 lg:gap-20">
            <div class="heading">
                <h2 class="heading__title-2">Main Features</h2>
                <p class="heading__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat
                    pellentesque volutpat est. Sapien in etiam vitae nibh nunc mattis imperdiet sed nullam. Vitae et, tortor pulvinar risus
                    pulvinar sit amet. Id vel in nam malesuada.</p>
            </div>
            {% include "./_components/features.njk" %}
        </div>
    </div>
</section>
{% include "./_components/reg.njk" %}