@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: 333 86% 55%;
        --primary-foreground: 0 0% 100%;
        --secondary: transparent;
        --secondary-foreground: 225 27% 63%;
        --background: 231 100% 99%;
        --background-secondary: 225 57% 21%;
        --foreground: 225 57% 21%;
        --font-foreground: "Roboto";
        --card-background: #172755;
        --card-foreground: #fff;
        --primary-text: 0 0% 100%;
        --secondary-text: 225 27% 63%;
    }
    html {
        scroll-behavior: smooth;
        -webkit-text-size-adjust: 100%;
    }
    body {
        @apply text-foreground bg-background font-foreground overflow-x-hidden;
    }
}
@layer components {
    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100dvh;
    }

    .content {
        flex: 1 0 auto;
    }
}
