<div class="feature">
    <ul class="feature__list">
        <li class="feature__item">
            <div class="feature__icon">
                <img src="../assets/images/icons/clock.svg" alt="PC">
            </div>
            <div class="feature__content">
                <h3 class="feature__title">Monitoring 24/7</h3>
                <p class="feature__description">
                    Lorem ipsum dolor sit amet, consectetur adipis cing elit.
                    Elementum nisi aliquet volutpat.
                </p>
            </div>
        </li>
        <li class="feature__item">
            <div class="feature__icon">
                <img src="../assets/images/icons/PC.svg" alt="PC">
            </div>
            <div class="feature__content">
                <h3 class="feature__title">Widget System</h3>
                <p class="feature__description">
                    Sapien in etiam vitae nibh nunc mattis imperdiet sed nullam.
                    Vitae et, tortor pulvinar risus pulvinar.
                </p>
            </div>
        </li>
        <li class="feature__item">
            <div class="feature__icon">
                <img src="../assets/images/icons/Rocket.svg" alt="PC">
            </div>
            <div class="feature__content">
                <h3 class="feature__title">Best Performance</h3>
                <p class="feature__description">
                    Lorem ipsum dolor sit amet, consectetur adipis cing elit.
                    Elementum nisi aliquet volutpat.
                </p>
            </div>
        </li>
    </ul>
</div>
