{% import "./header-menu.njk" as headerMenu %}
{% import "./card.njk" as Card %}
<footer id="footer" class="footer">
    <section id="Pricing" class="section">
        <div class="container">
            <div class="section__inner">
                <div class="heading">
                    <h2 class="heading__title-2 text-white">Pricing Plans</h2>
                    <p class="heading__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat
                        pellentesque volutpat est.
                    </p>
                </div>
                {% include "./html/pricing.html" %}
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="footer__inner">
                <a href="/" class="logo">
                    <img src="../../assets/images/logo-2.svg" class="logo-icon" alt="ANALYTICS"/>
                </a>
                <div class="hidden lg:block">
                    {{ headerMenu.headerMenu([
                            "Products",
                            "Features",
                            "Registration",
                            "Pricing"
                        ]) }}
                </div>
                {% include "./social.njk" %}
            </div>
        </div>
    </section>
</footer>