{% import "./header-menu.njk" as headerMenu %}
{% import "./button.njk" as Button %}
<header id="header" class="header">
    <div class="container">
        <div class="header__inner">
            {% include "./html/logo.html" %}
            <div class="hidden lg:block">{{ headerMenu.headerMenu(['Products', 'Features', 'Registration', 'Pricing']) }}</div>
            <div class="hidden lg:flex items-center">
                {{ Button.Button('Sign UP', 'button-secondary') }}
            </div>
            <button data-mobile-menu="open" type="button" class="header-menu-button grid lg:hidden">
                    <svg
                        class="header-menu-icon"
                        width="100%"
                        height="100%"
                        viewBox="0 0 35 36"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M30.625 25.6562V27.8438H4.375V25.6562H30.625ZM30.625 16.9062V19.0938H4.375V16.9062H30.625ZM30.625
                                8.15625V10.3438H4.375V8.15625H30.625Z"
                            fill="currentColor"/>
                    </svg>
                </button>
        </div>
    </div>
</header>