{% import "./button.njk" as Button %}
<section class="hero" style="background-image: url('../assets/images/bg-bg.png')">
    <div class="container">
        <div class="hero__inner">
            <div class="hero__content">
                <div class="flex flex-col gap-4">
                    <h1 class="hero__title text-white">
                        Monitor your business on real-time dashboard
                    </h1>
                    <p class="hero__description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat pellentesque volutpat est.
                        Sapien in etiam vitae nibh nunc mattis imperdiet sed nullam.
                    </p>
                </div>
                {{ Button.Button("Try for free", className="self-start mt-12") }}
            </div>
            <div class="hero__image">
                <img
                    loading="lazy"
                    decoding="async"
                    width="873"
                    height="554"
                    src="../assets/images/bg-mobile.png"
                    srcset="../assets/images/bg-mobile.png 240w,
                    ../assets/images/bg.png 720w"
                    alt="Monitor your business on real-time dashboard"/>
            </div>
        </div>
    </div>
</section>