<section id="Registration" class="section">
    <div class="section__inner">
        <div class="reg">
            <div class="reg__image">
                <img
                    src="../assets/images/chart.png"
                    width="590"
                    height="400"
                    loading="lazy"
                    decoding="async"
                    alt="Registration"
                    srcset=""/>
            </div>
            <div class="reg__content">
                <div class="heading">
                    <h2 class="heading__title-2">Registration</h2>
                </div>
                {% include "./form.njk" %}
            </div>
        </div>
    </div>
</section>