<ul class="social__list">
    <li class="social__item">
        <a href="#">{% include "../assets/images/icons/Facebook.svg" %}</a>
    </li>
    <li class="social__item">
        <a href="#">{% include "../assets/images/icons/Twitter.svg" %}</a>
    </li>
    <li class="social__item">
        <a href="#">{% include "../assets/images/icons/Instagram.svg" %}</a>
    </li>
</ul>